body {
	background-color: whitesmoke;
}

li.nav-item {
	margin-left: 10px;
	margin-right: 10px;
}

li.nav-item:hover {
	transition: 0.5s;
	font-size: 18px;
	text-shadow: 2px 1px whitesmoke;
}

a.navbar-brand:hover {
	transition: 0.5s;
	text-shadow: 3px 2px 1px white;
}

.card {
	margin-top: 200px;
}

.card p {
	font-size: 28px;
}
