body {
	background-color: whitesmoke;
}

.card {
	margin-top: 60px;
	margin-bottom: 40px;
}

.price {
	color: orangered;
}

.nav-link img {
	border: 2px black solid;
}

.nav-item a .nav-link:hover {
	color: white;
}

.nav-item a .nav-link:active {
	color: white;
}
