@font-face /*perintah untuk memanggil font eksternal*/ {
	font-family: "poppins"; /*memberikan nama bebas untuk font*/
	src: url("../font/poppins/Poppins-Regular.ttf"); /*memanggil file font eksternalnya di folder nexa*/
}

@font-face /*perintah untuk memanggil font eksternal*/ {
	font-family: "poppins-bold"; /*memberikan nama bebas untuk font*/
	src: url("../font/poppins/Poppins-Bold.ttf"); /*memanggil file font eksternalnya di folder nexa*/
}

body {
	background-color: whitesmoke;
	font-family: poppins;
	margin-top: 120px;
}

.navbar {
	background-color: #ff5722;
}

.navbar-brand img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-top: 2px;
}

li.nav-item {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

li.nav-item:hover {
	transition: 0.5s;
	font-size: 17px;
}

a.navbar-brand:hover {
	transition: 0.5s;
	text-shadow: 3px 2px 1px white;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

a img {
	width: 35px;
	height: 35px;
	margin-top: -5px;
}
/* navbar enda */

/* User Box */
/* .all {
	margin-top: 120px;
} */

.emp-profile {
	padding: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	border-radius: 0.5rem;
	background: #fff;
	border: 5px solid #ff5722;
}

.profile-img {
	text-align: center;
}
.profile-img img {
	width: 70%;
	height: 100%;
	border-radius: 150px;
}

.profile-img {
	color: #818182;
}

.profile-head h5 {
	color: #333;
}
.profile-head h6 {
	color: #ff5722;
}

.proile-rating span {
	color: #495057;
	font-size: 15px;
	font-weight: 600;
}

.profile-head .nav-tabs {
	margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
	font-weight: 600;
	border: none;
}
.profile-head .nav-tabs .nav-link.active {
	border: none;
	border-bottom: 2px solid #0062cc;
}
.profile-work {
	padding: 14%;
	margin-top: -15%;
}
.profile-work p {
	font-size: 12px;
	color: #818182;
	font-weight: 600;
	margin-top: 10%;
}
.profile-work a {
	text-decoration: none;
	color: #495057;
	font-weight: 600;
	font-size: 14px;
}
.profile-work ul {
	list-style: none;
}
.profile-tab label {
	font-weight: 600;
}
.profile-tab p {
	font-weight: 600;
	color: #ff5722;
}

.btn-orange {
	background-color: #ff5722;
	color: white;
}
