@font-face /*perintah untuk memanggil font eksternal*/ {
	font-family: "poppins"; /*memberikan nama bebas untuk font*/
	src: url("../font/poppins/Poppins-Regular.ttf"); /*memanggil file font eksternalnya di folder nexa*/
}

@font-face /*perintah untuk memanggil font eksternal*/ {
	font-family: "poppins-bold"; /*memberikan nama bebas untuk font*/
	src: url("../font/poppins/Poppins-Bold.ttf"); /*memanggil file font eksternalnya di folder nexa*/
}

body {
	background-color: whitesmoke;
	font-family: poppins;
}

.navbar {
	background-color: #ff5722;
}

.navbar-brand img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-top: 2px;
}

li.nav-item {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

li.nav-item:hover {
	transition: 0.5s;
	font-size: 17px;
}

a.navbar-brand:hover {
	transition: 0.5s;
	text-shadow: 3px 2px 1px white;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

a img {
	width: 35px;
	height: 35px;
	margin-top: -5px;
}
/* navbar enda */

/* buttton griup start */

.all {
	margin-top: 120px;
}

.position-relative {
	left: 40%;
}
/* button group end */

/* card start */
.card {
	margin-top: 40px;
	margin-bottom: 40px;
}

.card:hover {
	margin-top: 20px;
	margin-bottom: 50px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
	transition: 0.5s;
}

.price {
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgb(253, 80, 0);
}

.btn-card-info {
	background-color: #ff5722;
	color: white;
}

h5.click-postingan a {
	text-decoration: none;
	color: black;
}
/* card end */

/*footer  start*/
.card-footer {
	background-color: #414141;
	height: 200px;
}

.card-footer .icon {
	margin-top: 20px;
	font-size: 18px;
	margin-right: 25px;
}

.card-footer h3 {
	color: white;
	margin-top: 80px;
}

.card-footer .footer-t {
	color: white;
	margin-top: 80px;
}

.card-footer h6 {
	color: white;
	/* margin-left: 270px; */
}

.card-footer img {
	width: 40px;
	height: 40px;
}

.card-footer p {
	color: white;
	margin-top: 110px;
}

.space {
	margin-left: 5px;
}
/* footer end */
